@page
@model IndexModel
@{
    ViewData["Title"] = "Итоги";
}

<h1> Газпром детям 2025 <span class="text-secondary" >Группа 14-16 лет</span></h1>

<h3>@ViewData["Title"]</h3>
<component type="typeof(Summary.PositionTotal.Component)" render-mode="ServerPrerendered" />
<br/>

<component type="typeof(Summary.PositionByBestTime.Component)" render-mode="ServerPrerendered" />
<br />

<component type="typeof(Summary.PositionByBestDelta.Component)" render-mode="ServerPrerendered" />
<br />
